.main {
  background: linear-gradient(black, rgb(49, 48, 48), black);
  border-radius: 30px;
  color: gray;
  z-index: 10;
  border: 1px solid darkgray;
  padding: 10px;
  /* width: 100%; */
  height: 90vh;
  display: flex;
}
.skills_icon {
  width: 100%;
  padding: 0px 20px;
  height: 127px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconify {
  font-size: 30px;
  margin-bottom: 40px;
}

.resum_content {
  width: 100%;
  border: 0px solid black;
  transition: border ease 20ms;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 30px 30px 30px 30px;
  z-index: 3;
  background: #000;
}
.resum_content:hover {
  /* border: 1px solid rgb(29, 28, 28); */
  outline: none;
  box-shadow: inset 1px 2px 2px #03a9f4;
}
.Accordion {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .main {
    flex-direction: column;
    overflow-y: scroll;
    background: linear-gradient(black, rgb(49, 48, 48), black);
    height: 100vh;
    padding: 0px;
    border-radius: 0px;
  }
  .Accordion {
    display: block;
    margin: 0px;

    margin-bottom: 0px;
  }
  .expandIcon {
    /* position: relative; */
    top: 220px;

    border-radius: 5px;
    background: linear-gradient(rgb(49, 48, 48), black, rgb(49, 48, 48));
  }
  /* .resum_content {
    display: none;
  } */
  .Intro {
    display: none;
  }
}
