.about_Skill {
  padding: 14px 10px 14px 42px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.about_Skill p {
  color: gray;
  width: 100%;
  max-width: 300px;
}
@media only screen and (max-width: 600px) {
  .about_Skill {
    padding-left: 25px;
    /* margin: 10px 5px; */
    display: block;
    width: 100%;
  }
  .about_Skill h1 {
    color: gray;
    font-size: 25px;
    font-style: italic;
  }
  .about_Skill p {
    /* color: black; */
    border-radius: 5px;
    /* margin: 10px 10px; */

    font-size: 18px;
  }
}
