body {
  width: 100%;
  padding: 30px;
  background: url("ron-whitaker-mVuKCYMGZBM-unsplash.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  /* background: rgb(49, 48, 48); */
  /* background: black; */
  background: linear-gradient(black, black, gray, black, black);
  border-radius: 10px;

  height: 2px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
@media only screen and (max-width: 1000px) {
  body {
    padding: 0px;
  }
}
